body,
html {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  background: #000428;
  color: #ffffff;
  overflow: hidden;
  background-image: radial-gradient(
      rgb(216, 0, 0),
      rgba(255, 0, 0, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(
      rgb(255, 0, 0),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 40px
    ),
    radial-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(255, 66, 66, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 100px 200px, 300px 300px, 450px 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: white;
  margin: 50px 0px 8px 0px;
  text-shadow: 3px 3px #ff0000;
}

.registroJugadores {
  text-align: center;
  font-size: 2.5em;
  color: #ff0;
  text-shadow: 3px 3px #4e5311;
}

/* button {
  background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%);
  border: 1px solid #3498db;
  color: #ffffff;
  box-shadow: 0 0 15px #ff0000, 0 0 20px #4f58d1 inset;
} */

.start {
  background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%);
  border: 1px solid #3498db;
  color: #ffffff;
  box-shadow: 0 0 15px #ff0000, 0 0 20px #4f58d1 inset;
}

.rank {
  background-image: linear-gradient(315deg, #0f0c29 0%, yellow 100%);
  border: 1px solid #b7db34;
  color: #ffffff;
  box-shadow: 0 0 15px gold, 0 0 20px gold inset;
}

.jugador {
  background-color: white;
  font-size: 16px;
  display: flex;
  width: 300px;
  margin: 7px 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.jugador::placeholder {
  font-size: 13px;
}

.descripcion {
  font-size: 18px;
  text-align: center;
  margin: 50px 100px 8px 100px;
}

#configuración {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start,
.rank {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  margin: 9px 0;
}

.start:hover,
.rank:hover,
.teclado:hover{
  transform: translateY(5px);
  transform: scale(1.1);
}

.reset {
  display: flex;
}
.teclado {
  align-items: center;
  background-color: rgba(0, 255, 0, 0.699);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  border:rgb(216, 0, 0);
  cursor: pointer;
  margin: 0px 45px 5px 45px;
  transform: scale(1);
}

.palabra {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: white;
  margin: 50px 0px 8px 0px;
  text-shadow: 3px 3px #6f00ff;
}